*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html ,body{
    font-family: Arial, Helvetica, sans-serif;
}
#app{
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h3{
    margin-bottom: 1rem;
    font-weight: normal;
}
img{
    border-radius: 50%;
    width: 100x;
    height: 100px;
    border: 5px #333 solid;
    margin-bottom: 1rem;

}
.male{
    border-color: steelblue;
    background-color: steelblue;
}

.female{
    border-color: pink;
    background-color: pink;
    color: #333;

}
button{
    cursor: pointer;
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: 0;
    padding: 1rem 1.5rem;
}
button:focus{
    outline: none;
}
button:hover{
    transform: scale(0.98);
}
.card{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
    /* box-shadow: 1px 2px 10px red; */
}
.card:hover{
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}